# Built application files
*.apk
*.aar
*.ap_
*.aab

# Build files
build/
.cxx/
.gradle/
local.properties

# IntelliJ/Android Studio
*.iml
.idea/
.DS_Store

# Keystore
openlist.properties
*.p12
signing.properties
*.jks
*.keystore

# Logs
*.log
tmp/


